/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
.env
.idea
/idea
.env.backup
.env.dusk.localv
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
phpunit.dusk.xml
/public/build
/public/dist
/public/mix-manifest.json
